# dependencies
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*
.pnpm

# lockfiles
package-lock.json

# testing
coverage/
.nyc_output/

# production
dist/
build/
.next/

# Expo
.expo/
.expo-shared/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride

# Logs
*.log
lerna-debug.log*

# Misc
*.pem
